@media only screen and (max-width: 800px) {
    html {
        min-height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        overflow-x: hidden !important;

        body {
            width: 100%;
            min-height: 100%;
            overflow-x: hidden !important;
            padding: 0;
            margin: 0;

            nav {
                display: none;
                .menu {
                    display: none;
                }

            }

            header {
              width: 100%;
              overflow-x: hidden;
              min-height: 100vh;
              position: relative;
              top: 0;
              background: rgb(255,201,67);
              background: linear-gradient(343deg, rgba(255,201,67,1) 0%, rgba(15,169,88,1) 50%, rgba(0,0,0,1) 100%);
                
              .bg-video {
                display: none;
                // background-repeat: no-repeat;
                // background-size: 100vw 100vh;
                // background-origin: center;
                iframe {
                    display: none;
                }
              }

                .hero {
                  width: 100vw;
                  min-height: 100vh;

                  .hero-content {
                    width: 90vw;
                    min-height: 60vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    // align-items: center;
                    // text-align: center;

                    button {
                      font-size: 1rem;
                      font-weight: 600;
                    }
                  }
;
                }
            }
            
            #menuToggle {
              display: block;
              position: absolute;
              top: 15px;
              left: 15px;
              
              z-index: 1;
              
              -webkit-user-select: none;
              user-select: none;

              a {
                text-decoration: none;
                color: white;
                
                transition: color 0.3s ease;
              }

              a:hover {
                color: tomato;
              }

              input {
                display: block;
                width: 40px;
                height: 32px;
                position: absolute;
                top: -7px;
                left: -5px;
                
                cursor: pointer;
                
                opacity: 0; /* hide this */
                z-index: 2; /* and place it over the hamburger */
                
                -webkit-touch-callout: none;
              }

              span {
                display: block;
                width: 33px;
                height: 4px;
                margin-bottom: 5px;
                position: relative;
                
                background: #cdcdcd;
                border-radius: 3px;
                
                z-index: 1;
                
                transform-origin: 4px 0px;
                
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            opacity 0.55s ease;
              }

              span:first-child {
                transform-origin: 0% 0%;
              }

              span:nth-last-child(2) {
                transform-origin: 0% 100%;
              }

              input:checked ~ span {
                opacity: 1;
                transform: rotate(45deg) translate(-2px, -1px);
                background: white                                                           0tf;
              }

              input:checked ~ span:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
              }

              input:checked ~ span:nth-last-child(2) {
                transform: rotate(-45deg) translate(0, -1px);
              }

              input:checked ~ ul {
                transform: none;
              }

              

            }

            #menu {
              position: absolute;
              width: 300px;
              margin: -100px 0 0 -50px;
              padding: 50px;
              padding-top: 125px;
              height: 80vh;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              
              background: black;
              list-style-type: none;
              -webkit-font-smoothing: antialiased;
              /* to stop flickering of text in safari */
              
              transform-origin: 0% 0%;
              transform: translate(-100%, 0);
              
              transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

              li
              {
                padding: 10px 0;
                font-size: 22px;
              }
            }

            .about {
              .about-head {
                h1 {
                  width: 70vw;
                  margin: auto;
                  text-align: center;
                }
                .txt-bg {
                  display: none;
                }

                .txt-line {
                  display: none;
                }
              }

              .about-intro {
                width: 80vw;
                margin: auto;
              }

              .use-case {
                display: flex;
                flex-direction: column;

                .cnt-line {
                  display: none;
                }

                .home {
                  display: flex;
                  flex-direction: column;
                  .hm-intro {
                    width: 80vw;
                    margin: auto;
                    display: grid;
                    grid-template-columns: 15vw 15vw 15vw 15vw;
                    grid-template-rows: 15vh 15vh 15vh 15vh;
                    // position: relative;
                    margin: auto;
                    // display: flex;
                    // flex-direction: column;
                    // align-items: center;
                    

                    .hm-img {
                      min-height: 60vh;
                      min-width: 60vw;
                      grid-column: 1 / span 2;
                      z-index: 0;
                    }

                    .mobile-bg {
                      display: block;
                      width: 80vw;
                      text-align: center;
                      grid-column: 2;
                      grid-row: 2;
                      background-color: white;
                      z-index: 1;
                      width: 80vw;
                      min-height: 20vh;
                      opacity: .7;
                    }

                    p {
                      display: flex;

                      width: 70vw;
                      text-align: left;
                      grid-column: 2;
                      grid-row: 2;
                      z-index: 2
                      ;
                      // background-color: white;
                    }

                  }

                  .pkg-list {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                  }
                }

                .corporate {
                  display: flex;
                  flex-direction: column;

                  .corp-intro {
                    width: 80vw;
                    margin: auto;
                    display: grid;
                    grid-template-columns: 15vw 15vw 15vw 15vw;
                    grid-template-rows: 15vh 15vh 15vh 15vh;
                    // position: relative;
                    margin: auto;

                    .cor-img {
                      min-height: 60vh;
                      min-width: 60vw;
                      grid-column: 1 / 2;
                      z-index: 0;
                    }

                    .mobile-bg {
                      display: block;
                      width: 80vw;
                      text-align: center;
                      grid-column: 2;
                      grid-row: 2;
                      background-color: white;
                      z-index: 1;
                      width: 80vw;
                      min-height: 20vh;
                      opacity: .7;
                      // padding: 5px;
                    }

                    p {
                      display: flex;

                      width: 70vw;
                      text-align: left;
                      grid-column: 2;
                      grid-row: 2;
                      z-index: 2
                      ;
                      // background-color: white;
                    }
                  }

                  .pkg-list {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                  }
                }
              }
            }

            .customer-support {
              display: flex;
              flex-direction: column;

              .cs-des {
                display: flex;
                flex-direction: column;

                .cs-img {
                  width: 70vw;
                  min-height: 30vh;
                  background-size: cover;
                }

                .cs-des-txt {
                  display: flex;
                  flex-direction: column;
                  width: 70vw;
                }
              }

              .git {
                display: flex;
                flex-direction: column;
                align-items: center;

                .contact {
                  width: 80vw;
                  display: flex;
                  flex-direction: column;
                  align-items: center;

                  h1 {
                    width: 100%;
                  }

                  .email {
                    width: 100%;
                  }

                  .phone-number {
                    width: 100%;
                  }

                  .socials {
                    width: 100%;
                  }
                }

                .location {
                  width: 80vw;

                  .loc-head {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                  }

                  // .loc-details {

                    .map {

                      iframe {
                        width: 300px;
                        height: 250px;
                      }

                    }

                  // }
                }
              }
            }

        }


    }

}