body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  width: 100vw;
  background-color: black;
  padding: 0;
  margin: 0;
}

body nav .logo {
  width: 100px;
  height: 100px;
  background-image: url(../assets/mtlogo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 5vw;
}

body nav .spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body nav .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  padding: 0 50px;
}

body nav .menu ul li {
  list-style: none;
  min-width: 150px;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body header .bg-video {
  width: 100vw;
  height: 90vh;
  position: absolute;
  z-index: -1;
}

body header .bg-video iframe {
  width: 100vw;
  height: 90vh;
}

body header .hero {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #0c8c47), to(rgba(15, 169, 88, 0)));
  background: linear-gradient(90deg, #0c8c47 50%, rgba(15, 169, 88, 0) 100%);
  margin: 0;
  padding: 0;
  width: 50vw;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

body header .hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  min-height: 50vh;
}

body header .hero .hero-content h1 {
  color: #FFD700;
  font-size: 4rem;
  padding: 0;
  margin: 0;
}

body header .hero .hero-content button {
  width: 170px;
  height: 40px;
  background-color: #FFD700;
  border-radius: 5px;
  border-style: none;
}

body .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  min-height: 90vh;
  background-color: white;
  z-index: -1;
}

body .about .about-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0 0 0;
  width: 90vw;
  min-height: 10vh;
  z-index: 0;
}

body .about .about-head .h1 {
  position: relative;
  font-size: 4rem;
  width: 15vw;
  height: .5rem;
  z-index: 0;
}

body .about .about-head .txt-bg {
  position: absolute;
  min-width: 22vw;
  height: 2rem;
  background: white;
  z-index: -1;
}

body .about .about-head .txt-line {
  position: absolute;
  min-width: 30vw;
  height: .3rem;
  background: #FFD700;
  z-index: -2;
}

body .about .about-intro {
  text-align: center;
  width: 50vw;
  padding: 1rem 0 3rem 0;
}

body .about .use-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30vw;
  width: 60vw;
  margin-bottom: 3rem;
}

body .about .use-case .home {
  min-width: 30vw;
}

body .about .use-case .home .hm-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 30vw;
}

body .about .use-case .home .hm-intro .hm-img {
  min-width: 10vw;
  min-height: 30vh;
  background-image: url(../assets/pexels-aditya-singh-4218546.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 1rem;
  margin: 0;
}

body .about .use-case .home .hm-intro p {
  width: 15vw;
  min-height: 30vh;
  text-align: left;
  padding: 0;
  margin: 0;
  line-height: 1.5rem;
}

body .about .use-case .home .pkg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2rem;
}

body .about .use-case .home .pkg-list .bronze {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 20vh;
  padding: 1rem 1rem 1rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#CD7F32), color-stop(58.33%, #000000));
  background: linear-gradient(180deg, #CD7F32 0%, #000000 58.33%);
  border-radius: 10px;
  color: white;
  width: 20vw;
  margin: 1rem 1rem 1rem 0;
  -webkit-filter: drop-shadow(5px 5px 25px #9E4200);
          filter: drop-shadow(5px 5px 25px #9E4200);
}

body .about .use-case .home .pkg-list .bronze h2 {
  padding: 0;
  margin: 0;
}

body .about .use-case .home .pkg-list .bronze p {
  margin: 0;
  padding: 0;
}

body .about .use-case .home .pkg-list .silver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 20vh;
  padding: 1rem 1rem 1rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#C0C0C0), color-stop(57.81%, #000000));
  background: linear-gradient(180deg, #C0C0C0 0%, #000000 57.81%);
  border-radius: 10px;
  color: white;
  width: 20vw;
  margin: 1rem 1rem 1rem 0;
  -webkit-filter: drop-shadow(5px 5px 25px #c0c0c0);
          filter: drop-shadow(5px 5px 25px #c0c0c0);
}

body .about .use-case .home .pkg-list .silver h2 {
  padding: 0;
  margin: 0;
}

body .about .use-case .home .pkg-list .silver p {
  margin: 0;
  padding: 0;
}

body .about .use-case .cnt-line {
  min-height: 100vh;
  margin: 0 1rem 0 1rem;
  padding: 0;
  min-width: .5rem;
  background-color: #FFD700;
}

body .about .use-case .corporate {
  min-width: 30vw;
}

body .about .use-case .corporate .corp-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 30vw;
}

body .about .use-case .corporate .corp-intro .cor-img {
  min-width: 10vw;
  min-height: 30vh;
  background-image: url(../assets/pexels-josh-sorenson-1054397.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 1rem;
  margin: 0;
}

body .about .use-case .corporate .corp-intro p {
  width: 15vw;
  min-height: 30vh;
  text-align: left;
  padding: 0;
  margin: 0;
  line-height: 1.5rem;
}

body .about .use-case .corporate .pkg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2rem;
}

body .about .use-case .corporate .pkg-list .gold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 20vh;
  padding: 1rem 1rem 1rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFD700), color-stop(52.6%, #000000));
  background: linear-gradient(180deg, #FFD700 0%, #000000 52.6%);
  -webkit-box-shadow: 5px 5px 25px #FFD700;
          box-shadow: 5px 5px 25px #FFD700;
  border-radius: 10px;
  color: white;
  width: 20vw;
  margin: 1rem 1rem 1rem 0rem;
}

body .about .use-case .corporate .pkg-list .gold h2 {
  padding: 0;
  margin: 0;
}

body .about .use-case .corporate .pkg-list .gold p {
  margin: 0;
  padding: 0;
}

body .about .use-case .corporate .pkg-list .platinum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 20vh;
  padding: 1rem 1rem 1rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#E5E4E2), color-stop(53.12%, #000000));
  background: linear-gradient(180deg, #E5E4E2 0%, #000000 53.12%);
  -webkit-box-shadow: 5px 5px 25px #D2D1CF;
          box-shadow: 5px 5px 25px #D2D1CF;
  border-radius: 10px;
  color: white;
  width: 20vw;
  margin: 1rem 1rem 1rem 0;
}

body .about .use-case .corporate .pkg-list .platinum h2 {
  padding: 0;
  margin: 0;
}

body .about .use-case .corporate .pkg-list .platinum p {
  margin: 0;
  padding: 0;
}

body .customer-support {
  min-height: 100vh;
  width: 100vw;
  background-color: black;
  color: #FFD700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
}

body .customer-support h1 {
  width: 100vw;
  text-align: center;
}

body .customer-support .cs-des {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

body .customer-support .cs-des .cs-img {
  width: 30vw;
  height: 40vh;
  background-image: url(../assets/pexels-yan-krukov-8867434.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

body .customer-support .cs-des .cs-des-txt {
  width: 20vw;
  min-height: 30vh;
  padding: 2vw;
  line-height: 1.5rem;
}

body .customer-support .cs-des .cs-des-txt ul {
  padding: 0;
}

body .customer-support .git {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70vw;
  min-height: 90vh;
  padding: 3rem;
}

body .customer-support .git .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40vw;
  padding: 0 1rem 1rem 3rem;
}

body .customer-support .git .contact h1 {
  width: 20vw;
  text-align: left;
}

body .customer-support .git .contact .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30vw;
  padding: 0 0 1rem 0;
}

body .customer-support .git .contact .email .email-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10vw;
}

body .customer-support .git .contact .email .email-head .e-icon {
  padding: 10px;
}

body .customer-support .git .contact .email .email-head .e-icon img {
  width: 20px;
  height: 20px;
}

body .customer-support .git .contact .email .email-head h1 {
  width: 10vw;
  margin: 0;
  padding: 0;
}

body .customer-support .git .contact .email p {
  min-width: 10vw;
  color: white;
  padding-left: 3rem;
}

body .customer-support .git .contact .phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 20vw;
  padding: 1rem 0 2rem 0;
}

body .customer-support .git .contact .phone-number .phone-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .customer-support .git .contact .phone-number .phone-head .p-icon {
  padding: 10px;
}

body .customer-support .git .contact .phone-number .phone-head .p-icon img {
  width: 20px;
  height: 20px;
}

body .customer-support .git .contact .phone-number .phone-head h1 {
  width: 15vw;
  margin: 0;
  padding: 0;
}

body .customer-support .git .contact .phone-number p {
  color: white;
  padding-left: 3rem;
}

body .customer-support .git .contact .socials {
  min-width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .customer-support .git .contact .socials div {
  margin: .5rem;
}

body .customer-support .git .contact .socials div img {
  width: 20px;
  height: 20px;
}

body .customer-support .git .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 40vw;
}

body .customer-support .git .location .loc-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .customer-support .git .location .loc-head img {
  width: 20px;
  height: 20px;
  padding: 10px;
}

body .customer-support .git .location .loc-head h1 {
  padding: 0;
  margin: 0;
  width: 10vw;
  text-align: left;
}

body .customer-support .git .location .loc-details {
  color: white;
  padding-left: 2rem;
}

body .customer-support .git .location .map {
  padding-left: 2rem;
}
/*# sourceMappingURL=main.css.map */